* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.link-wrapper {
  display: flex;
  gap: 2rem;
  margin-left: 3rem;

  a {
    color: black;
    font-size: large;
  }
}
